
*{
    box-sizing: border-box;
}

#button-container button{
    height: 200px;
    width: 33%;
}

#button-container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.overlay {
    font-size: 25px;
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    color: white;
    
    /* Center the content */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sit on top of everything */
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: #ff4444;
    border: none;
    color: white;
    border-radius: 5px;
}